.header-style{
    background-color:rgba(229, 84, 115, 0.10);
    height: 850px;
    width: 1360px;
    display: flex;

   

}
.header-image{
    background-image: url("../Flower Asset/pngwing\ 10.png");
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 770px;
    padding-right: 100px;
}

.header-div1{
    height: 500px;
    width: 400px;
   padding-top: 210px;
   
   padding-left: 80px;
   
    
}
*{
    margin:0;
    font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;

}
.header-text{
    list-style: none;
}
h1{
    color: #272727;
    width: 640px;
    height: 200px;

font-size:60px;
font-style: normal;
font-weight: 700px;
line-height: normal;
}
.header-paragraph{
    color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-style: normal;
padding-top: 33px; line-height: 30px; padding-bottom: 33px;
font-weight: 400px; width: 620px;
height: 80px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
padding: 20px 40px;
color: white;border: none;

gap: 10px;
}
.primary-text{
    color: #272727;
text-align: center;
font-size: 35px;
font-style: normal;
font-weight: 700px;
line-height: normal;
}
.bonus-para{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;text-align: center;
font-weight: 400px; line-height: 30px;
padding-top: 20px; padding-bottom: 30px;
}
.bonus-title{
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 150px;
}
.bonus-img{ display: flex; padding-left: 190px;
    padding-right: 190px; padding-top: 40px; gap: 25px;
}
.rectangle-1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
 width: 310px;
height: 500px; background-image: url("/Flower Asset/pngwing\ 6.png");
background-position: bottom; background-repeat: no-repeat;
}
.rectangle-2{
     border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);background-image:url("../Flower Asset/pngwing\ 5.png");
    background-repeat: no-repeat;
    width: 310px;
    height: 500px; background-position: center,bottom;

}
.rectangle-3{
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);background-image: url("../Flower Asset/pngwing\ 7.png");
    background-position: bottom;
    background-repeat: no-repeat;width: 310px;
    height: 500px;
}
.underline-text{
    color: #272727;
text-align: center;
font-size: 24px; padding-top: 30px;
font-weight: 700;

text-decoration-line: underline;
}
.optional-div{
    display: flex;
}
ul{list-style: none;

justify-content: center;}
.optional-div{
    width: 700px;
    height:50px;
    padding: 200px; margin-left: 140px;
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 150px; border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
h4{
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal; 
}
.text-color{
    color: #E55473;;
}
.hotdeal-text{
    text-align: center; padding-left:200px; padding-top: 200px; width:510px;
    height: 200px;
    
    
}
.section-3{
    height: 560px;
    width: 1360px;
    background-color:rgba(229, 84, 115, 0.10);
    margin-top: 120px;display: flex;
    justify-content: space-between;
    
}
.hotdeal-para{
    color: rgba(39, 39, 39, 0.60);
font-size: 14px;text-align: center;
font-weight: 400px; padding-top: 30px;
padding-bottom: 30px;
}
.image-side{
    width: 318px;
height: 420px; padding-top: 80px; padding-right: 200px;
}
.insta-rec-1{
    width: 290px;
    height: 335px;
    background-image: url("../Flower Asset/Flower\ 01.png");background-size:cover;
    background-position: center;
}
.insta-rec-2{
    width: 290px;
    height: 335px;  background-image: url("../Flower Asset/Rectangle\ 4.png");background-size:cover;
    background-position: center;
}

.insta-rec-3{
    width: 290px;
    background-position: center;  height: 335px;background-image: url("../Flower Asset/Rectangle\ 5.png");background-size:cover;
    
}
.insta-rec-4{
    width: 290px;
    background-position: center;  height: 335px;;background-image: url("../Flower Asset/Rectangle\ 6.png"); background-size:cover;
}
.insta-image{display: flex; padding-left: 150px; padding-right: 100px;
gap: 20px;}

.emailbox{display: flex; gap: 20px;
align-items: center;}

.email-button{
    width: 450px;
    height: 50px;border-radius: 8px; border: none;
    background: #FFF;}

    .deal-section{
        width:1100px;
         height:380px; margin-left: 155px;
margin-top: 200px;
justify-content: center;
        background-image: url("../Flower Asset/Rectangle\ 9.png"); 
        background-repeat: no-repeat;

    }
    .align-all-items{
        padding-top: 100px;
        padding-bottom: 120px;
    }
    footer{
        width: 1360px;
        height: 420px;
        background-color: black;
        margin-top: 200px;
    }
    .footer-section{
        color: #FFF;
        
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
    .footer-para{
        
        width: 600px;
        color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px; padding-left:355px; padding-top: 24px;
font-style: normal;
font-weight: 400;
line-height: 30px;
    }
    .footer-element{
        padding-top: 150px;
    }